@charset "UTF-8";
/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,div,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;font-family:unset;word-wrap:break-word;}
body{font-family:unset;font-size:0.28rem;line-height:1.5;color:#333;background:#f7f7f7;}
a{color:#333;text-decoration:none;cursor:pointer;}
button{font-size:0.28rem;outline:none;}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
input,textarea{resize:none;font-size:0.28rem;caret-color: auto;}
input:focus,textarea:focus{outline:none;}
input:disabled{background: none;}
 
/* public */
// 清除浮动（用在父元素上）
.clearfloat:after{display:block;content:"";height:0;visibility:hidden;clear:both;}
.clearfloat{zoom:1}

@mixin textover() { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
@mixin textover-multi($line: 2) { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: $line; overflow: hidden; }

$color0:#000;
$color3:#333;
$color6:#666;
$color9:#999;
$colore:#eee;

/* main */
// 版权信息
.g-copyright { text-align: center; color: $color0; 
	a { color: $color0; 
		&:hover { color: red; }
	}
}

// 富文本内容部分限制
.rich-text {
	img { display: block!important; width: 100%!important; height: auto!important; }
	pre { white-space: pre-wrap!important; }
}

// 没有更多
.g-nomore { height: 1.4rem; line-height: 1.4rem; text-align: center; color: #999; }

// 加载中
.g-loading { display: flex; align-items: center; justify-content: center; height: 1.4rem; line-height: 1; color: #999;
	.icon { margin-right: 0.14rem; width: 0.26rem; height: 0.26rem; border: 1px solid rgba(0, 0, 0, 0.1); border-top-color: #999; border-radius: 50%; animation: g-loading 0.6s infinite linear; }
}
@keyframes g-loading {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}